if user
	.jumbotron
	h1 MongoDB User Authentication
	p Below is your profile information!
	.panel.panel-default
		.panel-heading
			h3.panel-title Profile Information
		.panel-body
			p Username: {{user.username}}
			p
				| Avatar: 
				img(src='{{user.avatar}}')
else
	.jumbotron
	h1 MongoDB User Authentication
	p Sign in and view your profile!
	p
		a.btn.btn-primary.btn-lg(href='/signin', role='button')
			span.glyphicon.glyphicon-user Sign in!
